/* You can add global styles to this file, and also import other style files */
// Make the body background black and letter color white
body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

.page-container {
  margin-top: 50px;
  padding: 20px;
}
